<footer>
  <div class="footer-top">
    <div>
      <span style="font-weight: 700; font-size: 20px"
        >Top companies choose <a href="">Udemy Business</a> to build in-demand
        career skills.</span
      >
    </div>
    <div class="sponsers">
      <img
        src="https://s.udemycdn.com/partner-logos/v4/nasdaq-light.svg"
        alt="nasdaq-light"
      />
      <img
        src="https://s.udemycdn.com/partner-logos/v4/volkswagen-light.svg"
        alt="Volkswagen"
      />
      <img
        src="https://s.udemycdn.com/partner-logos/v4/box-light.svg"
        alt="Box"
      />
      <img
        src="https://s.udemycdn.com/partner-logos/v4/netapp-light.svg"
        alt="Netapp"
      />
      <img
        src="https://s.udemycdn.com/partner-logos/v4/eventbrite-light.svg"
        alt="Eventbrite"
      />
    </div>
  </div>
  <div class="footer-bottom d-flex flex-column">
    <div class="d-flex justify-content-between">
      <div class="footer-links d-flex flex-column">
        <a href="">About Udemy Business</a>
        <a href="">Careers</a>
        <a href="">Press</a>
        <a href="">Blog</a>
        <a href="">Help Center</a>
        <a href="">Terms & Conditions</a>
        <a href="">Privacy Policy</a>
        <a href="">Cookie Policy</a>
        <a href="">Security</a>
        <a href="">Contact Us</a>
      </div>
      <div class="footer-lang-btn">
        <button><i class="bi bi-globe"></i> Language</button>
      </div>
    </div>
    <div
      class="logo-and-copywrite d-flex justify-content-between align-items-center"
    >
      <img
        src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy-inverted.svg"
        alt="udemy"
        style="width: 91px; height: 57px"
      />
      <span>&copy; 2022 Udemy, Inc.</span>
    </div>
  </div>
</footer>
